<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}{% if page.type == "about" %} | {{ page.native-name }}{% endif %}</title>
    <!-- <link rel="icon" href="/favicon.ico"> -->
    <link rel="shortcut icon" type="image/jpeg" href="/assets/avatar.jpg">
    {% if page.type == "about" %}
    <link rel="stylesheet" href="/css/about.css">{% else %}
    <link rel="stylesheet" href="/css/page.css">{% endif %}
    <script defer src="/js/all.min.js"></script>
</head>
