<style>
footer.fixed-bottom {
  background-color: var(--global-footer-bg-color);
  font-size: 0.875rem;
  color: var(--global-footer-text-color);
  text-align: center;
  padding: 1rem 0;
}

footer.fixed-bottom .container {
  padding: 0 1rem;
}

footer.fixed-bottom a {
  color: var(--global-footer-link-color);
  text-decoration: none;
}

footer.fixed-bottom a:hover {
  color: var(--global-theme-color);
  text-decoration: none;
}
</style>

<footer class="fixed-bottom" role="contentinfo">
   <div class="container mt-0"> © Copyright 2025 Andy Peng.</div>
</footer>

