<style>
footer.fixed-bottom {
  background-color: var(--global-bg-color);
  font-size: 0.875rem;
  color: #828282;
  padding: 1rem 0;
}

footer.fixed-bottom .container {
  padding: 0 1rem;
}

footer.fixed-bottom .footer-link {
  color: var(--global-text-color);
  text-decoration: none;
}

footer.fixed-bottom .footer-link:hover {
  color: var(--global-text-color);
  text-decoration: none;
}
</style>

<footer class="fixed-bottom" role="contentinfo">
   <div class="container mt-0 d-flex justify-content-between align-items-center">
      <div>© Copyright 2025 Andy Peng.</div>
      <div><a href="/portfolio" class="footer-link">En</a> | <a href="/cn" class="footer-link">Ch</a></div>
   </div>
</footer>

