html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
}

nav,
section {
    display: block;
}

a {
    background-color: transparent;
}

a:active,
a:hover {
    outline: 0;
}

b,
strong {
    font-weight: 700;
}

small {
    font-size: 80%;
}

img {
    border: 0;
}

hr {
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

button {
    margin: 0;
    font: inherit;
    color: inherit;
    overflow: visible;
    text-transform: none;
    -webkit-appearance: button;
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

@media print {
    *,
    :before,
    :after {
        color: #000 !important;
        text-shadow: none !important;
        background: transparent !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    a[href^="#"]:after {
        content: "";
    }

    img {
        page-break-inside: avoid;
        max-width: 100% !important;
    }

    p,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h3 {
        page-break-after: avoid;
    }

    .label {
        border: 1px solid #000;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:before,
:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #23527c;
    text-decoration: underline;
}

a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

img {
    vertical-align: middle;
}

.img-circle {
    border-radius: 50%;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

h3,
h4,
h5 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h4,
h5 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

p {
    margin: 0 0 10px;
}

small {
    font-size: 85%;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-muted {
    color: #777;
}

ul {
    margin-top: 0;
    margin-bottom: 10px;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.row {
    margin: auto;
}

@media (min-width: 992px) {
    .row {
        margin: auto;
    }
    .card-wrapper {
        padding: 2px;
    }
}

@media (min-width: 1536px) {
    .row {
        width: 80%;
        margin: auto;
    }
    .card-wrapper {
        // padding: 1px;
        padding: 8px;
    }
}

.col-md-3,
.col-md-7 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-md-3,
    .col-md-7 {
        float: left;
    }

    .col-md-7 {
        width: 70%;
    }

    .col-md-3 {
        width: 30%;
    }
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn:focus,
.btn:active:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
}

.btn:active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

tr.collapse.in {
    display: table-row;
}

tbody.collapse.in {
    display: table-row-group;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    -o-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    -o-transition-property: height, visibility;
    transition-property: height, visibility;
}

.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em;
}

.media-object {
    display: block;
}

.clearfix:before,
.clearfix:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
    display: table;
    content: " ";
}

.clearfix:after,
.container-fluid:after,
.row:after {
    clear: both;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.pull-right {
    float: right !important;
}

.relative {
    position: relative;
}

.clear-margin {
    margin: 0;
}

.nav-icon-width {
    width: 2em;
}

.space-top {
    margin-top: 10px;
}

.space-right {
    margin-right: 15px;
}

.labels {
    word-spacing: 5px;
    line-height: 2;
}

.label-keyword {
    display: inline-block;
    background: #f5f5f5;
    color: #000;
    font-size: .9em;
    padding: 5px;
}

.link-disguise {
    color: inherit;
}

.link-disguise:hover {
    color: inherit;
}

.clear-margin {
    margin: 0;
}

body {
    font-family: 'Times New Roman', sans-serif;
    background: #f0f0f0;
    color: #333;
}

.main {
    padding: 5px;
}

.card {
    background: #fff;
    min-height: 300px;
    padding: 2px;
}

.card-nested {
    min-height: 0;
    margin-bottom: 5px;
}

.card-nested:before,
.card-nested:after {
    content: " ";
    display: table;
}

.card-nested:after {
    clear: both;
}

.flex {
    padding: 10px;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.flex-more {
    padding: 10px;
    margin: 0;
    list-style: none;
}

.btn {
    border: 0 solid transparent;
    background: #fff;
}

.btn-text {
    color: #337ab7;
}
.conf-text {
    color: #0038bb;;
    font-weight: 800;
    margin-right: 8px;
}

.highlight {
    color: #004988;
    font-weight: 700;
    margin-right: 8px;
}

.new:after {
    color: #e72a03;
    vertical-align: super;
    font-style: italic;
    content: "new";
    font-weight: 700;
}
.update {
    color: #e72a03;
    // vertical-align: super;
    font-style: bold;
    font-weight: 700;
}

.old {
    margin-right: 1em;
}

.text-toogle[aria-expanded=false] .text-expanded {
    display: none;
}

.text-toogle[aria-expanded=true] .text-collapsed {
    display: none;
}

@media (max-width: 480px) {
    .card-nested {
        padding: 5px 0;
    }

    .flex {
        padding-left: 12px;
    }

    .flex-more {
        padding-left: 12px;
    }
}

@media (max-width: 992px) and (min-width: 480px) {
    li {
        margin: 0;
    }
}

.background-card {
    padding: 10px 20px;
}

.card-wrapper {
    // padding: 1px;
    padding: 2px;
}

@media (max-width: 992px) {
    body {
        background: #fff;
    }

    .card-wrapper {
        float: none !important;
    }
}

.text-bolder {
    font-weight: 700;
}

.background-details .detail {
    display: table;
    padding: 5px 0;
}

.background-details .detail .icon {
    min-width: 45px;
    max-width: 45px;
    text-align: center;
}

.background-details .detail .info {
    width: 100%;
}

.background-details .detail .icon {
    color: #0f4471;
}

.background-details .detail .title {
    border-bottom: 1px solid #e6e6e6;
    border-radius: 3px;
    padding-bottom: 5px;
    color: #000;
}

.background-details .detail .mobile-title {
    display: none;
}

@media (max-width: 480px) {
    .background-details .detail .mobile-title {
        display: inline-block;
        margin-left: 5px;
        font-weight: 700;
        text-transform: uppercase;
        vertical-align: middle;
    }
}

.background-details .detail .icon,
.background-details .detail .info {
    display: table-cell;
    padding: 0 10px;
}

@media (max-width: 480px) {
    .background-details .detail {
        display: block;
    }

    .background-details .detail .icon {
        max-width: inherit;
        min-width: inherit;
        text-align: left;
    }

    .background-details .detail .icon,
    .background-details .detail .info {
        display: block;
        padding: 10px 0;
    }

    .background-details .detail .title {
        display: none;
    }
}

@media (max-width: 480px) {
    ul {
        padding-left: 15px;
    }
}

.current-event {
    font-size: 8px;
    color: #5ACE24;
    position: absolute;
    right: 100%;
    top: 8px;
    left: -12px;
}

.previous-event {
    font-size: 8px;
    color: #2f4780;
    position: absolute;
    right: 100%;
    top: 8px;
    left: -12px;
}

.floating-nav-trigger {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    -webkit-transition: background-color .5s ease;
    -o-transition: background-color .5s ease;
    transition: background-color .5s ease;
    display: block;
    border-radius: 50%;
    text-align: center;
    padding-top: 10px;
    background-color: #fff;
    font-size: 1.5em;
    color: #357ebd;
    z-index: 100;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.floating-nav-trigger .close-icon {
    display: none;
}

.floating-nav-trigger.is-open {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.floating-nav-trigger.is-open .close-icon {
    display: inherit;
}

.floating-nav-trigger.is-open:hover {
    background-color: #fff;
}

.floating-nav {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: 100% 100%;
    -moz-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
    -webkit-transition: transform 0.3s, visibility 0s 0.3s;
    -o-transition: transform 0.3s, visibility 0s 0.3s;
    transition: transform 0.3s, visibility 0s 0.3s;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.24);
    position: fixed;
    z-index: 50;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    width: 90%;
    max-width: 400px;
    visibility: hidden;
    overflow: hidden;
}

.floating-nav ul {
    font-size: 1.2em;
    margin: 0;
}

.floating-nav ul li {
    border-bottom: 1px solid #eff2f6;
}

.floating-nav ul li a {
    padding: 20px;
    text-decoration: none;
    color: #357ebd;
    display: block;
}

.floating-nav ul li a:hover {
    color: #1f496e;
}

.floating-nav ul li i.fa {
    margin-right: 10px;
}

.floating-nav ul li:last-child {
    border-bottom: 0;
}

.floating-nav.is-visible {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform 0.3s, visibility 0s 0s;
    -o-transition: transform 0.3s, visibility 0s 0s;
    transition: transform 0.3s, visibility 0s 0s;
    visibility: visible;
}

@media (max-width: 992px) {
    .profile-card-wrapper {
        position: relative;
    }
}

.profile-pic {
    padding: 20px 0;
}

.profile-left {
    margin-left: 12px;
}

@media (max-width: 992px) {
    .profile-pic {
        padding: 10px 0;
    }
}

.profile-pic img {
    width: 160px;
    height: 160px;
}

@media (max-width: 992px) {
    .name {
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .contact-details {
        text-align: center;
    }
}

.contact-mod {
    margin: auto;
    text-align: center;
    width: 320px;
}

.contact-details .detail {
    display: table;
    padding: 10px 0;
}

.contact-details .detail .icon {
    padding: 0 10px;
    color: #0f4471;
}

.contact-details .icon {
    color: #0f4471;
}

.contact-details .detail .info {
    font-size: 1em;
}

.contact-details .detail .icon,
.contact-details .detail .info {
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .contact-details .detail {
        position: relative;
        float: left;
        width: 100%;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {
    .contact-details .detail {
        position: relative;
        min-height: 1px;
        padding: 10px;
    }

    .contact-details .detail .icon,
    .contact-details .detail .info {
        display: inline-block;
    }
}

@media (max-width: 992px) {
    .contact-details {
        display: table;
        margin: auto;
    }

    .detail {
        float: left;
        display: table-cell;
    }
}

.social-links {
    line-height: 2.5;
}

.social-link {
    margin-left: 5px;
    min-width: 35px;
    display: inline-block;
}

.social-link:first-child {
    margin-left: 0;
}

.social-link:hover {
    text-decoration: none;
}

.link-github {
    color: #454545;
}
.link-github:hover,
.link-github:focus {
    text-decoration: none;
    color: #2b2b2b;
}

.link-linkedin {
    color: #007bb6;
}
.link-linkedin:hover,
.link-linkedin:focus {
    text-decoration: none;
    color: #005983;
}

.link-twitter {
    color: #38A1F3;
}
.link-twitter:hover,
.link-twitter:focus {
    text-decoration: none;
    color: #037cb4;
}

.link-blog {
    color: rgb(11, 133, 226);
}
.link-blog:hover,
.link-blog:focus {
    text-decoration: none;
    color: #045e88;
}
